body{
    background-color: aqua;
}

#header{
    background-color: aquamarine;
    height: 200px;
    border-bottom: 5px dashed #000000;
}

#logo{
    height: 100px;
}

#menu{
    background-color: #cccccc;
}

.menu-item{
    float: left;
    width: 100px;
    color: black;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

#main-content{
    float: left;
    width: 70%;
    background-color: aqua;
}

#sidebar{
    float: right;
    width: 25%;
    background-color: white;
}

#container{
    margin: 0 auto 0 auto;
    max-width: 1280px;
}

#content{
    background-color: white;
}

.article-comments{
    background-color: #cccccc;
    padding: 5px;
}

.article{
    height: 150px;
    border: 1px solid #000000;
    margin: 10px 5px 10px 0px;
    background-color: bisque;
    padding: 5px;
}

.article .image{
    height: 150px;
    width: 150px;
    border: 1px solid #ffffff;
    float: left;
    background-color: blueviolet;
}